<%- include('./includes/head.ejs')%>
<script type="module" defer src="/lobby/js/index.js"></script>
</head>

<body>
    <div class="wrapper">
        <h1 class="lobby-title">Lobby</h1>
        <form action="/room" method="POST" class="new-room">
            <input name="room" type="text" placeholder="new room name" required class="new-room__input">
            <label for="number"class="new-room__input">Number of players</label>
            <select name="numberOfPlayers" id="number" class="new-room__input">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
            </select>
            
            <button type="submit" class="new-room__btn">Create</button>
        </form>
        <div class="active-rooms">
            <% Object.keys(rooms).forEach(room => { %>
            <div class="active-rooms__room" data-roomname="<%= room %>">
                <%= room %> 
                <h4> Players: 
                    <span class="active-rooms__active-players"><%= Object.keys(rooms[room].users).length %></span>/
                    <span class="active-rooms__max-players"><%= rooms[room].numberOfPlayers %> </span>
                </h4>
                <a href="/<%= room %>">Join</a>
            </div>
            <% }) %>
        </div>

    </div>
</body>

</html>